/*底部*/
.footer {
  margin-top: 40px;
  background: #eaf0ed;

  .header {
    background: #3f5d45;
    padding: 0;
  }

  .search {
    width: 780px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 46%;
      img {
        width: 40px;
      }
      p {
        display: inline-block;
        width: 315px;
        color: #eaf0ed;
        font-size: 24px;
        padding-left: 20px;
      }
    }
  }

  .email {
    width: 48.72%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 56px;
    .pic {
      padding: 0px 20px;
      background: #fff;
    }
    .go {
      background: #ffe180;
      padding: 0px 20px;
    }
    .pic img,
    .go img {
      vertical-align: middle;
    }
    input {
      color: #3f5d45;
      font-size: 2rem;
      width: 63.16%;
      height: 56px;
      padding: 0 6px;
      outline: none;
      border: none;
    }
  }
  .bottom {
    color: #3f5d45;
    display: flex;
    max-width: 780px;
    height: 340px;
    margin: auto;
    padding: 30px 0;
    .left {
      flex: 1;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      .logo img {
        width: 170px;
      }
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      color: #3f5d45;
      font-size: 16px;
      img {
        width: 60px;
      }
    }
  }
  .nav {
    padding-top: 115px;
    p {
      font-family: "PingFang TC";
      font-size: 18px;
      color: #3f5d45;
      line-height: 1.5rem;
    }
  }
  .msg img {
    width: 32px;
    padding-right: 8px;
    top: 200;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-top: 0;
    .search {
      flex-direction: column;
      .logo {
        width: 315px;
      }
      .email {
        width: 315px;
        padding-top: 33px;
      }
    }
    .bottom {
      flex-direction: column;
      // padding: 40px 0;
      height: auto;
      .right img {
        display: none;
      }
      .right p {
        margin: 23px 0px;
        margin: auto;
      }
      .left {
        align-items: flex-start;
        padding-left: 25%;
        .msg {
          padding-bottom: 30px;
        }
      }
    }
    .nav {
      padding-top: 40px;
      padding-bottom: 37px;
    }
  }
}
